*{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	
	
}

.header{
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: black;
	z-index: 2;
}

.logo img{
	display: flex;
	justify-content: flex-start;
	height: 50px;
}

.navigation nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	margin-top: 15px;

}

.navigation li{
	margin-left: 10px;
	margin-right: 20px;
}

.mission{
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 1;
}

.mission img{
	height: 700px;
	
	
	
}

.text-1{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-1 h2, h4{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;	
}