*{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
}

/*.header,
.mission,
.featered-tea,
.locations,
footer{
	background-color: black;
}*/

.header{
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: black;
	z-index: 2;
	margin: default;
}

.logo img{
	display: flex;
	justify-content: flex-start;
	height: 50px;
}

.navigation nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	width: 100%;

}

.navigation li{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 15px;
}

/* Mission part */

body{
	margin: 0;
}

.mission{
	position: relative;
	text-align: center;
	margin: default;
	z-index: 1;
}

.mission img{
	height: 700px;	
}

.text-1{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-1 h2, h4{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;	
}

h2{
	display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* Feature Tea part */
.featured-tea{
	padding-bottom: 100px;
}

.text-2{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 60px;
}

.pictures-1-line{
	display: flex;
	justify-content: center;
}

.pictures-2-line{
	display: flex;
	justify-content: center;
}

.featured-tea img{
	padding-left: 40px;
	padding-right: 40px; 
	height: 200px;
	width: 300px;
}	

.featured-tea h4{
	text-align: center;
	
}

/* Locations part */

.locations{
	border: thin dotted red;
	text-align: center;
	height: 570px;
	width: 1200px;
	background-image: url(./images/img-locations-background.jpg);
	/*display: flex;
	justify-content: center;*/
	margin: auto;
	margin-top: 90px;
}

/*.locations img{
	margin-left: auto;
	margin-right: auto;
	position: relative;
    text-align: center;
}*/

.locations h2{
	border: thin dotted red;
	height: 40px;
	margin-top: 70px;
	background: none !important;
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}
/*
.three-locations{
	border: thin dotted red;
	margin-top: 200px;
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	height: 340px;
}*/

.downtown{
	border: thin dotted red;
	margin-left: 20px;
	margin-right: 20px;
	height: 320px;
	width: 300px;
	display: inline-flex;
	flex-direction: column;
}

.east-bayside{
	border: thin dotted red;
	margin-left: 20px;
	margin-right: 20px;
	height: 320px;
	width: 300px;
	display: inline-flex;
	flex-direction: column;
}

.oakdale{
	border: thin dotted red;
	margin-left: 20px;
	margin-right: 20px;
	height: 320px;
	width: 300px;
	display: inline-flex;
	flex-direction: column;
}