*{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	
}

.header{
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	position: fixed;
	display: flex;
	justify-content: space-between;
}

.logo img{
	display: flex;
	justify-content: flex-start;
	height: 50px;

}

.navigation nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	margin-top: 15px;
}

.navigation li{
	margin-left: 10px;
	margin-right: 10px;
}

